/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
@font-face {
  font-family: "RussoOne";
  src: url(fonts/RussoOne-Regular.ttf);
}
@font-face {
  font-family: "OpenSansItalic";
  src: url(fonts/OpenSans-Italic.ttf);
}
@font-face {
  font-family: "OpenSans";
  src: url(fonts/OpenSans.ttf);
}
body {
  background-color: #2D2D2D;
  font-family: "RussoOne";
  color: white;
  font-size: 24px;
  margin: 0;
  padding: 0;
  --main-big-font-size: 64px;
  --big-font-size: 36px;
  --middle-font-size: 24px;
  --middle-low-font-size: 18px;
  --low-font-size: 16px;
}

* {
  margin: 0px;
  padding: 0px;
}

header {
  width: 60%;
  margin: auto;
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 22px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
header .logo-wrapper .logo-share {
  border-right: 2px solid white;
  height: 35px;
  margin-bottom: 21px;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
header .logo-wrapper .slogan {
  font-family: "OpenSans";
  font-style: italic;
  color: #2194FF;
  font-size: var(--low-font-size);
  margin-top: 20px;
}
header .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
  margin-top: 30px;
  padding: 20px;
}
header .contacts .contacts-number {
  font-weight: bold;
  font-size: 20px;
  color: white;
}
header .contacts .contacts-description {
  color: #2194FF;
  text-decoration: underline;
  font-size: 13px;
  cursor: pointer;
}
header .burger-menu {
  display: none;
  width: 35px;
  height: 35px;
  margin-top: 20px;
  -webkit-filter: invert(46%) sepia(14%) saturate(4948%) hue-rotate(183deg) brightness(104%) contrast(101%);
  filter: invert(46%) sepia(14%) saturate(4948%) hue-rotate(183deg) brightness(104%) contrast(101%);
}

.block-one {
  margin-left: 20%;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 72px;
}
.block-one .truck {
  -ms-flex-preferred-size: 1032px;
  flex-basis: 1032px;
  min-width: 500px;
  height: 477px;
  position: relative;
  top: 0;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  left: -5%;
  background-image: url(images/truck.svg);
}
.block-one .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  position: relative;
}
.block-one .content .section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 25px;
  margin-bottom: 12px;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.block-one .content .section-1 p {
  font-size: var(--low-font-size);
  font-family: "OpenSans";
  font-weight: 300;
  font-style: normal;
}
.block-one .content .section-1 .weather-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 5px;
}
.block-one .content .section-1 .weather-wrapper .weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 8px;
}
.block-one .content .section-2 {
  margin-bottom: 14px;
}
.block-one .content .section-2 p {
  font-size: var(--main-big-font-size);
  color: #2194FF;
}
.block-one .content .section-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 5px;
}
.block-one .content .section-3 p {
  font-size: var(--middle-font-size);
  color: white;
}
.block-one .content .section-3 .indicator {
  margin-top: 12px;
  width: 71px;
  height: 90px;
}
.block-one .content .section-4 {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.block-one .content .section-4 p {
  font-family: "OpenSans";
  color: white;
  font-size: var(--low-font-size);
  margin-top: 13px;
  text-align: center;
}

.block-two {
  width: 100%;
  min-height: 200px;
  background-color: rgba(33, 148, 255, 0.05);
}
.block-two .wrapper-block-two {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 46px;
  padding-bottom: 44px;
  margin: auto;
}
.block-two .price-title {
  color: #2194FF;
  font-size: var(--big-font-size);
  margin-bottom: 49px;
  text-align: center;
  padding: 10px;
}
.block-two .section-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
.block-two .section-1 .product {
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  max-width: 370px;
}
.block-two .section-1 .product .product-name {
  font-size: var(--big-font-size);
  color: white;
  grid-area: name;
}
.block-two .section-1 .product .price {
  font-size: var(--middle-font-size);
  color: #2194FF;
  margin-bottom: 21px;
}
.block-two .section-1 .product .desc {
  font-family: "OpenSans";
  font-size: var(--low-font-size);
  margin-bottom: 28px;
  color: #F1F1F1;
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  max-width: 200px;
  line-height: 25px;
  opacity: 0.8;
  min-height: 175px;
}
.block-two .section-1 .product .order {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  font-family: "OpenSans";
  font-size: var(--middle-low-font-size);
  background-color: #2194FF;
  color: white;
  padding-left: 33px;
  padding-right: 35px;
  padding-top: 8px;
  padding-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  cursor: pointer;
}
.block-two .section-1 .by-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-preferred-size: 600px;
  flex-basis: 600px;
  min-width: 350px;
}
.block-two .section-1 .by-price .truck {
  width: 100%;
  height: 250px;
  margin-right: 16px;
}
.block-two .section-1 .by-price .title {
  color: #F1F1F1;
  font-size: 20px;
  opacity: 0.7;
  margin-bottom: 13px;
}
.block-two .section-1 .by-price .percent-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 25px;
}
.block-two .section-1 .by-price .percent-data .one-percent-big {
  font-size: var(--big-font-size);
  color: #F1F1F1;
  opacity: 0.7;
}
.block-two .section-1 .by-price .percent-data .one-percent-small {
  font-size: var(--middle-low-font-size);
  color: #F1F1F1;
  opacity: 0.7;
}
.block-two .section-1 .by-price .percent-data .diliver {
  border-right: 1px solid #F1F1F1;
  height: 100%;
  opacity: 0.3;
}

.block-three {
  width: 100%;
}
.block-three .block-three-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
}
.block-three .block-title {
  color: #F1F1F1;
  font-size: var(--big-font-size);
  text-align: center;
  margin-top: 57px;
  margin-bottom: 25px;
}
.block-three .advantages {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  -ms-flex-pack: distribute;
  justify-content: space-around;
  gap: 35px 50px;
  margin-bottom: 40px;
}
.block-three .advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.block-three .advantage .image {
  margin-bottom: 8px;
}
.block-three .advantage .title {
  color: #2194FF;
  font-size: var(--middle-font-size);
  text-align: center;
  margin-bottom: 14px;
}
.block-three .advantage .description {
  color: #F1F1F1;
  font-family: "OpenSans";
  font-size: var(--low-font-size);
  text-align: center;
}
.block-three .guarantees {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 70px;
  margin-top: 70px;
  gap: 20px;
}
.block-three .guarantees .truck {
  -ms-flex-preferred-size: 718px;
  flex-basis: 718px;
  min-width: 500px;
  height: 284px;
  background-image: url(images/truck-b3.svg);
  background-size: cover;
}
.block-three .guarantees .info-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
  min-width: 331px;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}
.block-three .guarantees .info-block .info-text {
  font-size: var(--big-font-size);
  color: #F1F1F1;
}
.block-three .guarantees .info-block .info-text span {
  color: #2194FF;
}
.block-three .guarantees .info-block .additional-text {
  font-family: "OpenSans";
  font-size: 14px;
  color: #F1F1F1;
  background-color: #2194FF;
  padding-left: 12px;
  padding-right: 13px;
  padding-top: 7px;
  padding-bottom: 8px;
  font-weight: 800;
}

.block-four {
  width: 100%;
  background-color: rgba(33, 148, 255, 0.05);
}
.block-four .block-four-wrapper {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.block-four .block-title {
  font-size: var(--big-font-size);
  color: #2194FF;
  margin-top: 34px;
  margin-bottom: 35px;
  text-align: center;
}
.block-four .group-buttons {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, 164px);
  gap: 24px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 37px;
}
.block-four .group-buttons .button {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 164px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
  background-color: rgba(241, 241, 241, 0.2);
  cursor: pointer;
}
.block-four .group-buttons .button p {
  font-size: var(--middle-low-font-size);
  color: #F1F1F1;
  opacity: 0.7;
  text-align: center;
  text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.25);
}
.block-four .group-buttons .button-active {
  background-color: #2194FF;
}
.block-four .group-buttons .button-active p {
  opacity: 1;
}
.block-four .order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  margin-bottom: 90px;
}
.block-four .order .truck-wrapper {
  max-width: 596px;
  min-width: 350px;
}
.block-four .order .truck-wrapper .truck {
  width: 100%;
}
.block-four .order .order-button-wrapper {
  width: 330px;
  position: absolute;
  top: 80%;
}
.block-four .order .order-button-wrapper .order-button {
  width: 100%;
  height: 120px;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.block-five {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}
.block-five .block-five-wrapper {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.block-five .reviews-title {
  width: 100%;
  text-align: center;
  font-size: var(--big-font-size);
  color: #F1F1F1;
  margin-top: 40px;
  margin-bottom: 47px;
}
.block-five .mobile-version {
  width: 100%;
  display: none;
}
.block-five .mobile-version .mobile-card-review-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 24px;
}
.block-five .mobile-version .mobile-card-review-wrapper .mobile-next-btn {
  cursor: pointer;
  display: none;
}
.block-five .mobile-version .mobile-card-review-wrapper .mobile-card-review-box {
  -ms-flex-preferred-size: 839px;
  flex-basis: 839px;
  min-width: 330px;
  height: 320px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.block-five .mobile-version .mobile-card-review-wrapper .mobile-card-review-box .mobile-card {
  background-color: #F1F1F1;
  border-radius: 40px;
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
  position: absolute;
}
.block-five .mobile-version .mobile-card-review-wrapper .mobile-card-review-box .mobile-one-card {
  z-index: 1;
  width: 100%;
  height: 80%;
}
.block-five .mobile-version .mobile-card-review-wrapper .mobile-card-review-box .mobile-two-card {
  z-index: 2;
  width: 96%;
  height: 90%;
}
.block-five .mobile-version .mobile-card-review-wrapper .mobile-card-review-box .mobile-three-card {
  z-index: 3;
  width: 92%;
  min-height: 100%;
}
.block-five .mobile-version .mobile-card-review-wrapper .mobile-card-review-box .mobile-review-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
}
.block-five .mobile-version .mobile-card-review-wrapper .mobile-card-review-box .mobile-review-content .mobile-review-text-block {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  min-width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 30px;
  gap: 10px;
}
.block-five .mobile-version .mobile-card-review-wrapper .mobile-card-review-box .mobile-review-content .mobile-review-text-block .mobile-base-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 16px;
}
.block-five .mobile-version .mobile-card-review-wrapper .mobile-card-review-box .mobile-review-content .mobile-review-text-block .mobile-base-info .mobile-photo-wrapper {
  -ms-flex-preferred-size: 80px;
  flex-basis: 80px;
  min-width: 65px;
  height: 65px;
}
.block-five .mobile-version .mobile-card-review-wrapper .mobile-card-review-box .mobile-review-content .mobile-review-text-block .mobile-base-info .mobile-photo-wrapper .mobile-photo {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.block-five .mobile-version .mobile-card-review-wrapper .mobile-card-review-box .mobile-review-content .mobile-review-text-block .mobile-base-info .mobile-bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.block-five .mobile-version .mobile-card-review-wrapper .mobile-card-review-box .mobile-review-content .mobile-review-text-block .mobile-base-info .mobile-bio .mobile-name {
  color: #2194FF;
  font-size: var(--middle-font-size);
  margin-bottom: 4px;
}
.block-five .mobile-version .mobile-card-review-wrapper .mobile-card-review-box .mobile-review-content .mobile-review-text-block .mobile-base-info .mobile-bio .mobile-city {
  font-size: var(--low-font-size);
  color: #2D2D2D;
  margin-bottom: 15px;
}
.block-five .mobile-version .mobile-card-review-wrapper .mobile-card-review-box .mobile-review-content .mobile-review-text-block .mobile-description {
  max-width: 90%;
  font-family: "OpenSans";
  font-size: 14px;
  color: #2D2D2D;
}
.block-five .mobile-version .mobile-slide-indicator-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 15px;
}
.block-five .mobile-version .mobile-slide-indicator-box .mobile-slide-indicator {
  width: 20px;
  height: 18px;
  border-radius: 20px;
  background-color: rgba(241, 241, 241, 0.28);
}
.block-five .mobile-version .mobile-slide-indicator-box .mobile-active-indicator {
  background-color: #2194FF;
}
.block-five .desktop-version {
  width: 100%;
}
.block-five .desktop-version .card-review-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 24px;
}
.block-five .desktop-version .card-review-wrapper .next-btn {
  cursor: pointer;
}
.block-five .desktop-version .card-review-wrapper .card-review-box {
  -ms-flex-preferred-size: 839px;
  flex-basis: 839px;
  min-width: 330px;
  height: 320px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.block-five .desktop-version .card-review-wrapper .card-review-box .card {
  background-color: #F1F1F1;
  border-radius: 40px;
  -webkit-box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
  position: absolute;
}
.block-five .desktop-version .card-review-wrapper .card-review-box .one-card {
  z-index: 1;
  width: 100%;
  height: 80%;
}
.block-five .desktop-version .card-review-wrapper .card-review-box .two-card {
  z-index: 2;
  width: 96%;
  height: 90%;
}
.block-five .desktop-version .card-review-wrapper .card-review-box .three-card {
  z-index: 3;
  width: 92%;
  min-height: 100%;
}
.block-five .desktop-version .card-review-wrapper .card-review-box .review-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 10px;
}
.block-five .desktop-version .card-review-wrapper .card-review-box .review-content .photo-wrapper {
  max-width: 155px;
  min-width: 105px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 26px;
  margin-top: 59px;
  margin-right: 15px;
  margin-bottom: 50px;
}
.block-five .desktop-version .card-review-wrapper .card-review-box .review-content .photo {
  width: 100%;
  height: 100%;
  border-radius: 38px;
}
.block-five .desktop-version .card-review-wrapper .card-review-box .review-content .review-text-block {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  min-width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-top: 20px;
  padding-right: 15px;
  padding-bottom: 15px;
}
.block-five .desktop-version .card-review-wrapper .card-review-box .review-content .review-text-block .name {
  color: #2194FF;
  font-size: var(--middle-font-size);
  margin-bottom: 4px;
}
.block-five .desktop-version .card-review-wrapper .card-review-box .review-content .review-text-block .city {
  font-size: var(--middle-low-font-size);
  color: #2D2D2D;
  margin-bottom: 15px;
}
.block-five .desktop-version .card-review-wrapper .card-review-box .review-content .review-text-block .description {
  max-width: 90%;
  font-family: "OpenSans";
  font-size: var(--low-font-size);
  color: #2D2D2D;
}
.block-five .desktop-version .slide-indicator-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 5px;
}
.block-five .desktop-version .slide-indicator-box .slide-indicator {
  width: 61px;
  height: 18px;
  border-radius: 20px;
  background-color: rgba(241, 241, 241, 0.28);
}
.block-five .desktop-version .slide-indicator-box .active-indicator {
  background-color: #2194FF;
}

.block-six {
  width: 100%;
  background-color: rgba(33, 148, 255, 0.05);
}
.block-six .block-six-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: auto;
}
.block-six .title {
  width: 100%;
  text-align: center;
  font-size: var(--big-font-size);
  color: #2194FF;
  padding-top: 37px;
  padding-bottom: 27px;
}
.block-six .question-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 20px 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  gap: 20px;
}
.block-six .question-box .question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  gap: 23px;
  width: 95%;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 35px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.block-six .question-box .question:nth-last-child(1) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.block-six .question-box .question .img-wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.block-six .question-box .question img {
  width: 17px;
  height: 17px;
  justify-self: flex-start;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  -o-transition: transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.block-six .question-box .question-img-active {
  -webkit-filter: invert(46%) sepia(14%) saturate(4948%) hue-rotate(183deg) brightness(104%) contrast(101%);
  filter: invert(46%) sepia(14%) saturate(4948%) hue-rotate(183deg) brightness(104%) contrast(101%);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.block-six .question-box .question-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 16px;
}
.block-six .question-box .question-text .question-title {
  font-size: var(--low-font-size);
  font-family: "OpenSans";
  color: #F1F1F1;
  font-weight: 700;
  text-transform: uppercase;
  color: #F1F1F1;
  font-weight: bold;
}
.block-six .question-box .question-text .question-title-active {
  color: #2194FF;
}
.block-six .question-box .question-text .extend-text {
  display: none;
  font-family: "OpenSans";
  font-size: var(--low-font-size);
  color: #F1F1F1;
  opacity: 0.7;
}

.block-seven {
  width: 100%;
}
.block-seven .block-seven-wrapper {
  width: 100%;
  margin: auto;
}
.block-seven .block-seven-wrapper .container-callback {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.block-seven .block-seven-wrapper .container-callback .form-callback {
  min-width: 300px;
  background-color: black;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.block-seven .block-seven-wrapper .container-callback .form-callback .callback-text {
  font-size: var(--big-font-size);
  color: #F1F1F1;
  margin-bottom: 50px;
}
.block-seven .block-seven-wrapper .container-callback .form-callback .callback-form input {
  height: 50px;
  width: 90%;
  border-radius: 10px;
  padding-left: 22px;
  font-family: "OpenSans";
  font-size: 14px;
  color: rgba(45, 45, 45, 0.5);
  text-transform: uppercase;
  border: 1px solid #DEDEDE;
}
.block-seven .block-seven-wrapper .container-callback .form-callback .callback-form textarea {
  min-height: 100px;
  max-height: 112px;
  width: 90%;
  border-radius: 10px;
  padding-left: 22px;
  padding-top: 15px;
  font-family: "OpenSans";
  font-size: 14px;
  color: rgba(45, 45, 45, 0.5);
  text-transform: uppercase;
  border: 1px solid #DEDEDE;
}
.block-seven .block-seven-wrapper .container-callback .form-callback .callback-form .btn-send {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: "OpenSans";
  font-size: var(--middle-low-font-size);
  color: #F1F1F1;
  background-color: #2194FF;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 12px;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}
.block-seven .block-seven-wrapper .container-callback .personal-block {
  width: 365px;
  height: 200px;
  background-color: red;
}
.block-seven .block-seven-wrapper .callback-flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 75px;
  margin-top: 55px;
  margin-bottom: 47px;
}
.block-seven .block-seven-wrapper .callback-flex .callback-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-preferred-size: 300px;
  flex-basis: 300px;
  max-width: 567px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.block-seven .block-seven-wrapper .callback-flex .callback-box .callback-text {
  font-size: var(--big-font-size);
  color: #F1F1F1;
  margin-bottom: 50px;
  text-align: center;
}
.block-seven .block-seven-wrapper .callback-flex .callback-box .callback-form-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 24px;
}
.block-seven .block-seven-wrapper .callback-flex .callback-box .callback-form-box .btn-send {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-family: "OpenSans";
  font-size: var(--middle-font-size);
  color: #F1F1F1;
  background-color: #2194FF;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 24px;
  padding-bottom: 12px;
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
}
.block-seven .block-seven-wrapper .callback-flex .callback-box .callback-form-box input {
  height: 50px;
  width: 90%;
  border-radius: 10px;
  padding-left: 22px;
  font-family: "OpenSans";
  font-size: 14px;
  color: rgba(45, 45, 45, 0.5);
  text-transform: uppercase;
  border: 1px solid #DEDEDE;
}
.block-seven .block-seven-wrapper .callback-flex .callback-box .callback-form-box textarea {
  min-height: 100px;
  max-height: 112px;
  width: 90%;
  border-radius: 10px;
  padding-left: 22px;
  padding-top: 15px;
  font-family: "OpenSans";
  font-size: 14px;
  color: rgba(45, 45, 45, 0.5);
  text-transform: uppercase;
  border: 1px solid #DEDEDE;
}
.block-seven .block-seven-wrapper .callback-flex .placeholder {
  width: 200px;
  height: 200px;
  background-color: black;
  margin: 5px;
}
.block-seven .block-seven-wrapper .callback-flex .photo-personal {
  -ms-flex-preferred-size: 367px;
  flex-basis: 367px;
  min-width: 320px;
  height: 454px;
  background-image: url("images/photo-manager.png");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 40px;
  -webkit-filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.25));
  position: relative;
}
.block-seven .block-seven-wrapper .callback-flex .photo-personal .info-by-personal {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #2194FF;
  font-family: "OpenSans";
  font-size: var(--low-font-size);
  color: #F1F1F1;
  background-color: rgba(33, 148, 255, 0.8);
  padding-left: 26px;
  padding-right: 21px;
  padding-bottom: 19px;
  padding-top: 13px;
  border-radius: 20px;
  position: absolute;
  bottom: 40px;
  left: -30px;
}
.block-seven .block-seven-wrapper .callback-flex .photo-personal .info-by-personal span {
  font-size: var(--middle-font-size);
  color: #F1F1F1;
  font-family: "RussoOne";
  line-height: 28px;
}
.block-seven .block-seven-wrapper .logo-list-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 16px;
  margin-top: 59px;
  margin-bottom: 34px;
}
.block-seven .block-seven-wrapper .logo-list-block .one-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 136px;
  height: 66px;
  background-color: #F1F1F1;
  border-radius: 20px;
}
.block-seven .block-seven-wrapper .make-order-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 11px;
}
.block-seven .block-seven-wrapper .make-order-div .title {
  text-align: center;
  font-size: var(--big-font-size);
  color: #2194FF;
}

.block-eight {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 50px;
}
.block-eight .block-eight-wrapper {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.block-eight .address-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  min-width: 320px;
  min-height: 488px;
  background-color: #F1F1F1;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  border-radius: 33px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.block-eight .address-company .one-block {
  -ms-flex-preferred-size: 326px;
  flex-basis: 326px;
  min-width: 326px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 35px;
}
.block-eight .address-company .one-block .office-title {
  font-size: var(--big-font-size);
  color: #2194FF;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.block-eight .address-company .one-block .consultation-title {
  font-family: "OpenSans";
  font-size: var(--middle-low-font-size);
  color: #1B2639;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.block-eight .address-company .one-block .divider {
  width: 100%;
  border: 1px solid rgba(27, 38, 57, 0.2);
  margin-bottom: 31px;
}
.block-eight .address-company .one-block .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 45px;
}
.block-eight .address-company .one-block .contact-div .name {
  font-family: "OpenSans";
  font-size: var(--middle-low-font-size);
  color: #2194FF;
  text-transform: uppercase;
}
.block-eight .address-company .one-block .contact-div .data {
  font-family: "OpenSans";
  font-size: var(--middle-low-font-size);
  color: #1B2639;
}
.block-eight .address-company .two-block {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.block-eight .address-company .two-block iframe {
  border-top-right-radius: 33px;
  border-bottom-right-radius: 33px;
}

.width-wrapper {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 25px;
  padding-right: 25px;
}

@media screen and (min-width: 2000px) {
  .width-wrapper {
    max-width: 1350px;
  }
}
@media screen and (min-width: 1366px) and (max-width: 2000px) {
  .width-wrapper {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .width-wrapper {
    max-width: 992px;
  }
}
@media screen and (max-width: 1024px) {
  .width-wrapper {
    max-width: 99%;
  }
}
@media screen and (max-width: 1200px) {
  .block-one {
    margin-left: inherit;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 100px;
    padding-right: 0px;
  }
  .block-one .content .section-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: inherit;
    -ms-flex-align: inherit;
    align-items: inherit;
  }
  header .logo-wrapper .logo-share {
    display: none;
  }
  header .logo-wrapper .slogan {
    display: none;
  }
  header {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}
@media screen and (max-width: 900px) {
  .block-one .truck {
    display: none;
  }
  .block-one {
    margin-left: inherit;
    width: 100%;
    margin-top: 110px;
    margin-bottom: 110px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media screen and (max-width: 840px) {
  .block-three .guarantees .truck {
    display: none;
  }
}
@media screen and (max-width: 779px) {
  .block-seven .block-seven-wrapper .callback-flex .callback-box {
    max-width: 100%;
  }
  .block-seven .block-seven-wrapper .callback-flex .photo-personal {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  body {
    --main-big-font-size: 64px;
    --big-font-size: 36px;
    --middle-font-size: 24px;
    --middle-low-font-size: 18px;
    --low-font-size: 16px;
  }
}
@media screen and (max-width: 770px) {
  .block-two .section-1 {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 60px;
  }
  .block-two .section-1 .product {
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }
  .block-three .advantages {
    grid-template-columns: repeat(auto-fit, 200px);
  }
  .block-five .card-review-wrapper .card-review-box .review-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .block-five .desktop-version {
    display: none;
  }
  .block-five .mobile-version {
    display: block;
  }
  .block-six .question-box .question {
    padding-left: 0px;
  }
  body {
    --main-big-font-size: 48px;
    --big-font-size: 30px;
    --middle-font-size: 22px;
    --middle-low-font-size: 18px;
    --low-font-size: 15px;
  }
}
@media screen and (max-width: 560px) {
  header .contacts {
    display: none;
  }
  header .burger-menu {
    display: block;
  }
  header .logo-wrapper img {
    width: 200px;
  }
  .block-seven .block-seven-wrapper .make-order-div img {
    width: 300px;
  }
}
@media screen and (max-width: 510px) {
  body {
    --main-big-font-size: 36px;
    --big-font-size: 22px;
    --middle-font-size: 18px;
    --middle-low-font-size: 14px;
    --low-font-size: 13px;
  }
  .block-one .content .section-4 img {
    width: none;
    height: 60px;
  }
  .block-one .content .section-3 .indicator {
    margin-top: 0px;
    height: 70px;
  }
}
@media screen and (max-width: 494px) {
  .block-two .section-1 .product .desc {
    min-height: inherit;
  }
}
@media screen and (max-width: 410px) {
  .block-four .group-buttons .button {
    min-width: 90%;
  }
  .block-seven .block-seven-wrapper .callback-flex .photo-personal .info-by-personal {
    left: 20px;
  }
  .block-seven .block-seven-wrapper .logo-list-block {
    -ms-flex-pack: distribute;
    justify-content: space-around;
    gap: 45px 5px;
  }
}

/*# sourceMappingURL=main.css.map */
